body {
background-image:url(bg.png);
}
h1,h3,h4{
    color:whitesmoke;
  font-family: verdana;
  font-size: 150%;
}
*{
    color:white;
    font-family: verdana;
}
table{
    border-collapse:collapse;
    border-color:darkgrey;
    vertical-align: middle;
    text-align:left;
    background:"table_bg.jpg"; 
}
th,td{
    padding: 5px;
}
tr.borders,td.borders{
    border:1px solid whitesmoke}

.tablenormal{
    height: 10;
}
img.logoimg{
    width:190;
    height:200;
}
img.face{
    width:190;
    height:300;
    border-radius:50%;
}
img.logo{
    width:30px;
    height:30px;
}
td.line{
    border-left: 1px solid whitesmoke;
}
.seperator{
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
}
.table2{
    border-collapse:collapse;
    border-color:darkgrey;
    vertical-align: middle; 

}
img.stand{
    width: 227px;
    height: 366px;
}
img.large{
    width: 626px;
    height: 178px;}
img.small{
    width: 313px;
    height: 178px;
}
img.meme{
    width:190;
    height:300;
}
.modalheader{
    color:black;
    font-style:verdana
}